<ion-view view-title="Screens">
	<ion-nav-bar class="bar-positive">

	</ion-nav-bar>
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <h3>Thank you for choosing the HackBuddy!</h3>
      <div id="logo">
        <img src="img/icondog.png" style="max-width:200px;max-height:200px">
      </div>
      <p>
        We've worked super hard to make you happy.
      </p>
      <p>
        But if you are confused, stop being confused!.
      </p>
    </ion-slide>
    <ion-slide>
      <h3>Using HackBuddy</h3>

      <div id="list">
        <h5>Just three steps:</h5>
        <ol>
          <li>Be awesome</li>
          <li>Stay awesome</li>
          <li>There is no step 3</li>
        </ol>
      </div>
    </ion-slide>
    <ion-slide>
      <h3>Any questions?</h3>
      <p>
        Contact us!
      </p>

			<a href="/#/app/profile">
				<button type="submit" class="button button-positive button-block" ng-click="doLogIn()" ng-disabled="(selected_tab=='Email') ? (login_form.user_email.$invalid || login_form.user_password.$invalid) : ((selected_tab=='Phone') ? (login_form.user_phone.$invalid || login_form.user_pin.$invalid) : false)">
					Start using HackBuddy!
				</button>
			</a>
    </ion-slide>
  </ion-slide-box>
</ion-view>
