<ion-view class="hackathons-view">
  <ion-nav-title>
    <span>Hackathons</span>
  </ion-nav-title>
  <ion-content>
    <ul >
      <li ng-repeat="(name, url) in greeting">
      <div class="list card">
        <div class="item item-avatar" >
          <img src="{{url['logo']}}" />
          <h2>{{url["name"]}}</h2>
            <p >{{url["city"]}}</p>
            <p>
              When? {{url["date"]}}
            </p>
        </div>
        <a class="item item-icon-left assertive" href="{{url['url']}}">
          <i class="icon ion-information-circled"></i>
          More info
        </a>
      </div>
      </li>
    </ul>




  </ion-content>
</ion-view>
