<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="https://66.media.tumblr.com/19105e1387ca2fbd29f84d9f58302775/tumblr_nnmockfAc81uu7pgno1_500.gif" spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name">Pepe Ramirez</div>
        <div class="user-id">pepermz24</div>
      </div>
      <div class="user-background-image-outer">
        <div multi-bg="[image]"></div>
        <!-- <div multi-bg="['https://66.media.tumblr.com/19105e1387ca2fbd29f84d9f58302775/tumblr_nnmockfAc81uu7pgno1_500.gif']"></div> -->
      </div>
    </div>
    <div class="bottom-content">
      <div class="user-bio">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
      <div class="user-skills">
      	<ul style="list-style-type:none">
		  <li>Coffee</li>
		  <li>Tea</li>
		  <li>Milk</li>
		</ul>
    </div>
  </ion-content>
</ion-view>
