#upload-resume {
	font-size: 14px;
	float: left;
	display: inline-block;
}

.project-date {
	background-color:  #00994d;
	margin-bottom: 0;
	padding-bottom: 0;
}

.item-body {
	background-color: #0099ff;
	margin-top: 0;
	padding-top: 0;
}

.user-skills {
	margin-left: 15%;
}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}
